:root {
  font-family: var(montserrat-regular);

  color: #5a2e35;
  background-color: #e8a0b8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: #faf0e6;
  font-family: "Great Vibes", cursive;
  font-style: normal;
  font-size: 4rem;
}

.letter {
  background-color: hotpink;
  width: 380px;
  height: 180px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  :hover {
    rotate: -10deg;
    scale: 1.2;
  }
}
